<div class="sidebar-container">
    <div class="sidebar__icon">
        <img src="/assets/images/Logo_Allure_Full.jpeg
        " alt="">

    </div>
    <div class="sidebar__sections">
        <h2>
            Documentos
        </h2>
        <ul>
            <li>
                <a href="/documents">
                    <button >Documentos</button>
                </a>
            </li>
            <li>
                <button>Alarmas</button>
            </li>
            <li>
                <a href="/upload">
                    <button >Nuevo</button>
                </a>
            </li>
        </ul>
    </div>
</div>