.upload-section {
    padding: 0.05rem 2rem 2rem;
    background-color: rgb(110, 110, 110);
    width: 100%;
    color: aliceblue;
}

.upload-section {
    padding: 1 rem;
    background-color: rgb(110, 110, 110)
}

button {
    color: black;
}